[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
serverless-py-tool = {version = "*", index = "testpypi"}
boto3 = "*"
psycopg2-binary = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.11"
